In [1]:
import pandas as pd

Reading word_freq csv file

In [2]:
df=pd.read_csv("word-freq-top5000.csv")
df.head()

   Rank Word Part of speech  Frequency  Dispersion
0     1  the              a   22038615        0.98
1     2   be              v   12545825        0.97
2     3  and              c   10741073        0.99
3     4   of              i   10343885        0.97
4     5    a              a   10144200        0.98

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            5000 non-null   int64
 1   Word            5000 non-null   object
 2   Part of speech  5000 non-null   object
 3   Frequency       5000 non-null   int64
 4   Dispersion      5000 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 195.4+ KB

              Rank     Frequency   Dispersion
count  5000.000000  5.000000e+03  5000.000000
mean   2500.500000  6.595890e+04     0.932350
std    1443.520003  4.999684e+05     0.029998
min       1.000000  4.875000e+03     0.470000
25%    1250.750000  7.722750e+03     0.920000
50%    2500.500000  1.369750e+04     0.940000
75%    3750.250000  3.147375e+04     0.950000
max    5000.000000  2.203862e+07     0.990000

In [10]:
df["Frequency"].mode()

0    5882
1    6896
Name: Frequency, dtype: int64

Most Reapeted in frequency number

In [11]:
df.loc[df["Frequency"]==5882,"Word"]

4424     sensation
4425     partially
4643    harassment
4662     processor
Name: Word, dtype: object

In [12]:
df.sort_values(by="Dispersion",ascending=True).head()

      Rank        Word Part of speech  Frequency  Dispersion
3653  3654          re              i      15773        0.47
2965  2966      mm-hmm              u      13755        0.73
4011  4012     hostage              n       8605        0.75
3746  3747      ballot              n       9217        0.77
3413  3414  adolescent              n      10568        0.78

In [15]:
df.loc[df["Dispersion"]==df["Dispersion"].min()]

      Rank Word Part of speech  Frequency  Dispersion
3653  3654   re              i      15773        0.47

In [17]:
df["Dispersion"].value_counts().head(10)

Dispersion
0.94    797
0.95    745
0.93    695
0.96    596
0.92    545
0.97    379
0.91    348
0.90    254
0.89    160
0.88    131
Name: count, dtype: int64

In [22]:
df.loc[df["Dispersion"]==0.94].shape

(797, 5)

In [23]:
df.loc[df["Dispersion"]==0.94].sort_values(by="Frequency",ascending=False)

      Rank       Word Part of speech  Frequency  Dispersion
14      15         he              p    2909254        0.94
23      24         we              p    1820935        0.94
26      27       that              d    1712406        0.94
33      34       what              d    1181023        0.94
38      39        get              v     992596        0.94
...    ...        ...            ...        ...         ...
4946  4947      weave              v       5015        0.94
4965  4966  organized              j       5011        0.94
4972  4973   epidemic              n       5010        0.94
4994  4995      naval              j       4990        0.94
4998  4999    apology              n       4972        0.94

[797 rows x 5 columns]

In [24]:
df.loc[df["Dispersion"]==0.94,"Frequency"].max()

2909254

Fidding the smallest

In [25]:
df.loc[df["Dispersion"]==0.94,"Frequency"].min()

4972

In [26]:
df.loc[df["Dispersion"]==0.94].sort_values(by="Frequency",ascending=True)

      Rank       Word Part of speech  Frequency  Dispersion
4998  4999    apology              n       4972        0.94
4994  4995      naval              j       4990        0.94
4972  4973   epidemic              n       5010        0.94
4965  4966  organized              j       5011        0.94
4946  4947      weave              v       5015        0.94
...    ...        ...            ...        ...         ...
38      39        get              v     992596        0.94
33      34       what              d    1181023        0.94
26      27       that              d    1712406        0.94
23      24         we              p    1820935        0.94
14      15         he              p    2909254        0.94

[797 rows x 5 columns]

In [27]:
df["Frequency"].describe()

count    5.000000e+03
mean     6.595890e+04
std      4.999684e+05
min      4.875000e+03
25%      7.722750e+03
50%      1.369750e+04
75%      3.147375e+04
max      2.203862e+07
Name: Frequency, dtype: float64